<!--FILTERING NEEDED-->

{{#if listings.length}}
<div class="card mb-3 mx-auto" style="max-width: 540px;">

  <h1 class="ml-3">{{name}}'s Haggles:</h1>
</div>
{{#each listings as |listing| }}

<div class="card mb-3 mx-auto" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <!--need image here -->
      <img src="../{{image_path}}" alt="{{title}}" class="my-listing-photo">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        {{!-- <p class="card-text">{{looking_for}}</p> --}}
        <p class="card-text"><small class="text-muted">Created by {{../name}} on {{format_date
            date_created}}</small>
        </p>
        <!--button is allowing us to redirect user to individual listing-->
        {{#if (if_eq status_id 1)}}
        <form action="/accepted" method="POST">
          <input type="hidden" name="listing_1" value="{{../query}}">
          <input type="hidden" name="listing_2" value="{{id}}">
          <input type="hidden" value="{{../email}}" name="em_to_email">
          <input type="hidden" value="{{../name}}" name="em_to_name">
          <input type="hidden" value="{{../logged_user}}" name="em_from_id">
          <input type="hidden" value="{{../logged_name}}" name="em_from_name">
          <input type="hidden" value="{{title}}" name="em_title">
          <input type="hidden" value="{{description}}" name="em_desc">
          <button class="btn btn-primary" type="submit" haggle-id="{{id}}">Accept</button>
        </form>
        {{else}}{{/if}}
        {{#if (if_eq status_id 2)}}
        <button class="btn btn-primary" disabled>Pending</button>
        {{else}}{{/if}}
        {{#if (if_eq status_id 3)}}
        <button class="btn btn-primary" disabled>Accepted</button>
        {{else}}{{/if}}

      </div>
    </div>
  </div>
</div>
{{/each}}
{{else}}
<h1>{{name}} has no Haggles.</h1>
{{/if}}