{{#each listings as |listing| }}
{{#if (if_neq user_id ../logged_id)}}
<div class="card mb-3 mx-auto" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <!--need image here -->
      <img src="{{image_path}}" alt="..." class="my-listing-photo">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
        {{!-- <p class="card-text">{{looking_for}}</p> --}}
        <p class="card-text"><small class="text-muted">Created by {{user.name}} on {{format_date date_created}}</small>
        </p>
        <!--button is allowing us to redirect user to individual listing-->
        <a class="btn btn-primary" id="listing-view" href="/listing/{{id}}">View
          Listing</a>

      </div>
    </div>
  </div>
</div>
{{/if}}
{{/each}}

{{!-- 3. Listings/Browsing - login status doesnt matter
A. Continuous Scroll/Pages
B. Present Listings
a. using cards of sorts to display (routes to listing)
i. Item/Service Title
ii. Short descriptoin
iii. looking for
iv. picture (use position 0 and let poster know first image is listing image)
C. Filters?
a. categories
b. services OR items
c. one user
D. Sort
E. Top Traders - activity within last 30 days or based off rating
F. New/Most Recently posted --}}