<div class="row" style="padding: 25px; background-color:#708090; margin:-20px; border-bottom: solid black 1px">

  <div class="col-12">
    <!--need user image-->
    <div class="welcome col-3">
      <h1>
        Welcome,
        {{name}}
        !
      </h1>

    </div>


    <div class="bio">
      <h4>
        {{bio}}
      </h4>
    </div>

    <div class="rating">
      <h5>
        {{rating}}
      </h5>
    </div>

    <div class="d-grid gap-2 col-3 mx-auto">
      <a class="btn btn-primary" id="current-listing" role="button" href="/mylistings">
        My listings
      </a>
    </div>
  </div>
</div>
<div class="row mt-4">
  <div class="col-md-6">
    <h2>
      Create a New Listing:
    </h2>
    <form class="form new-project-form" id="upload-photos" action="/upload" method="post" enctype="multipart/form-data">

      <label for="listing-name">
        Listing Name:
      </label>
      <input class="form-input" type="text" id="listing-name" name="listing_name" />


      <label for="listing-desc">
        Listing Description:
      </label>
      <textarea class="form-input" id="listing-desc" name="listing_desc"></textarea>
      <br>
      <label for="listing-category">Categories:</label>
      <select class="form-control" id="listing-category" name="listing_category">
        <option value="1">Automobiles</option>
        <option value="2">Clothing</option>
        <option value="3">Farm Equipment</option>
        <option value="4">Furniture</option>
        <option value="5">Miscellaneous</option>
        <option value="6">Skilled Labor</option>
        <option value="7">Unskilled Labor</option>
      </select>
      <input type="hidden" id="listing-status" name="listing_status" value="1">


      <label for="photos-input">Browse Multiple Images to Upload</label>
      <input id="photos" type="file" name="john-wayne" multiple>

      <br />
      <button id="listing-create" type="submit" class="btn btn-primary">
        Create
      </button>
    </form>

  </div>
  <!--REUSE THIS FOR DISPLAYING LISTINGS ON LISTING ROUTE-->
  {{#if listings.length}}
  <div class="col-md-6">
    <!--need to include filtered get to show only users active listings-->



    <div class="d-grid  col-md-12 mx-auto haggle-del">
      {{#each listings as |listing|}}
      <div class="row">
        <div class="col-md-12">
          <a class="btn btn-primary no-button" id="single-listing" role="button" href="/listing/{{listing.id}}">
            {{listing.title}}
          </a>
          <div>
            <button class="btn btn-sm btn-danger" id="delete-btn" data-id="{{listing.id}}">
              DELETE
            </button>
          </div>

        </div>

      </div>
      {{/each}}
    </div>

    {{! <div class="col-md-2"> }}
      <!--NEED TO INCLUDE LOGIC TO REMOVE DELETE BUTTON IF SESSION USER = POSTING USER-->
      {{!
    </div> }}
    {{!-- <div class="row mb-2">
      <div class="col-md-8">
        <!--need to have images included-->
        <h4><a href="/listing/{{listing.id}}">{{listing.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <!--NEED TO INCLUDE LOGIC TO REMOVE DELETE BUTTON IF SESSION USER = POSTING USER-->
        <button class="btn btn-sm btn-danger" data-id="{{listing.id}}">DELETE</button>
      </div>
    </div> --}}


  </div>
  {{/if}}
</div>
<script src="./js/listing.js"></script>