<div class="row">
  <div class="col-auto">
    <!--need user image-->
    <h2>Welcome, {{name}}!</h2>
    <h4>{{bio}}</h4>
    <h5>{{rating}}</h5>
  </div>
</div>

<div class="row mt-4">
  <div class="col-md-6">
    <h3>Create a New Listing:</h3>
    <form class="form new-project-form">
      <div class="form-group">
        <label for="listing-name">Listing Name:</label>
        <input class="form-input" type="text" id="listing-name" name="listing-name" />
      </div>
      {{!-- <div class="form-group">
        <label for="looking-for">Looking For in Return:</label>
        <input class="form-input" type="number" id="looking-for" name="looking-for" />
      </div> --}}
      <div class="form-group">
        <label for="listing-desc">Listing Description:</label>
        <textarea class="form-input" id="listing-desc" name="listing-desc"></textarea>
      </div>
      <div class="form-group">
        <label for="listing-category">Categories:</label>
        <textarea class="form-input" id="listing-category" name="listing-category"></textarea>
      </div>
      <div class="form-group">
        <button id="listing-create" type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
  </div>

  <!--REUSE THIS FOR DISPLAYING LISTINGS ON LISTING ROUTE-->
  {{#if listings.length}}
  <div class="col-md-6 project-list">
    <!--need to include filtered get to show only users active listings-->
    <h3><a href="/listings">View my current listings</a></h3>


    {{#each listings as |listing|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <!--need to have images included-->
        <h4><a href="/listing/{{listing.id}}">{{listing.title}}</a></h4>
      </div>
      <div class="col-md-4">
        <!--NEED TO INCLUDE LOGIC TO REMOVE DELETE BUTTON IF SESSION USER = POSTING USER-->
        <button class="btn btn-sm btn-danger" data-id="{{listing.id}}">DELETE</button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/listing.js"></script>